

@font-face{
    font-family:'Anurati-regular';
    src: url("fonts/Anurati-Regular.otf");
}
body{
    background-color: black;
    
}
h1{
    color: white;
    font-family: 'Poiret One', cursive;
    font-weight: lighter;
    
}
h3{
    color: white;
    font-family: 'Questrial', sans-serif;
}
h2{
    font-size: 20px;
    color: white;
    font-family: 'Questrial', sans-serif;
}
p{
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}

header img{
    width: 40%;
    object-fit: cover;

    
}

.titleSkills {
    font-size: 30px;

    font-family: 'Cinzel', serif;
    margin-top: 2%;
    

}




.cabecera{
    margin-top: 2%;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 4%;
}



.skills{
margin-top: 20px;
width: 100vw;
display: flex;
flex-flow: column;
text-align: center;

}
.skillsBox{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; 
}
.ordenSkills{

    width: 250px;
    height: 200px; 

}


.icono{
   margin-bottom: 20px;
}

.proyectos{

    display: flex;
    flex-flow: column;
    margin-left: 12%;
    margin-top: 5%;

}

.titleSkills{

    text-align: center;
}



.titulotrabajos{

    font-size: 2.5em;
    
}
.trabajoUxUi{
    font-size: 0.7em;
    color:rgba(100, 211, 255, 0.74);
    
}
.trabajoAndroid{
    font-size: 0.7em;
    color: rgba(50, 215, 75, 0.74);

}

.solutionexplorer1{

    font-size: 3em;
    font-family:'Anurati-regular';
    font-weight: 100;
    margin-right: 2% 
}
.solutionexplorer2{

    font-size: 3em;
    font-family:'Anurati-regular';
    font-weight: 100;
    margin-left: 2%;
}


.headmural{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3%; 
    
}
.nombre{

    margin-top: 2%;
    font-size: 2em;
}
.rlogo{
    font-family:'Anurati-regular';
    font-size: 7em;
}
.links{

    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left:70%; 
    margin-right:6%;
    
}