

@font-face{
    font-family:'Anurati-regular';
    src: url("fonts/Anurati-Regular.otf");
}
body{
    background-color: black;
    
}
h1{
    color: white;
    font-family: 'Poiret One', cursive;
    font-weight: lighter;
    
}
h3{
    color: white;
    font-family: 'Questrial', sans-serif;
}
h2{
    font-size: 20px;
    color: white;
    font-family: 'Questrial', sans-serif;
}
p{
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}

header img{
    width: 40%;
    object-fit: cover;

    
}

.titleSkills {
    font-size: 30px;

    font-family: 'Cinzel', serif;
    margin-top: 2%;
    

}




.hello{
    
    padding: 2%;
    padding-left:4%; 
    font-size: 4em;
    font-family:'Anurati-regular';
    
}



.skills{
margin-top: 20px;
width: 100vw;
display: flex;
flex-flow: column;
text-align: center;

}
.skillsBox{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; 
}
.ordenSkills{

    width: 250px;
    height: 200px; 

}


.icono{
   margin-bottom: 20px;
}

.proyectos{

    display: flex;
    flex-flow: column;
    margin-left: 12%;
    margin-top: 5%;

}

.titleSkills{

    text-align: center;
}



.titulotrabajos{

    font-size: 2.5em;
    
}
.trabajoUxUi{
    font-size: 0.7em;
    color:rgba(100, 211, 255, 0.74);
    
}
.trabajoAndroid{
    font-size: 0.7em;
    color: rgba(50, 215, 75, 0.74);

}

.solutionexplorer1{

    font-size: 3em;
    font-family:'Anurati-regular';
    font-weight: 100;
    margin-right: 2% 
}
.solutionexplorer2{

    font-size: 3em;
    font-family:'Anurati-regular';
    font-weight: 100;
    margin-left: 2%;
}


.headmural{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%; 

   margin-bottom: 4%;
    
}
.nombre{

    margin-top: 2%;
    font-size: 2em;
}


.tituloskills{
    font-size: 1.6em;
    margin-bottom: 5%;
}
nav {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
  }

  .nav-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: flex;
    list-style-type: none;
    width: 40%;
    justify-content: space-around;
  }
  .imgs{
      width: 20px;
      height: 20px;
  }

.rlogo{
    font-size: 3em;
    font-family:'Anurati-regular'; 
} 

.casestudies{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 40px;
    
}
.case{
    height: 400px;
    width: 50%;
    margin: 10px;
    overflow: hidden;
}
.case img{
    transition: transform .5s ease;
}
.case:hover img{
    transform: scale(1.5);
}
.case2{
    height: 400px;
    width: 50%;
    margin: 10px;
    overflow: hidden;
}
.case2 img{
    transition: transform .5s ease;
}
.case2:hover img{
    transform: scale(1.5);
}
.case3{
    height: 400px;
    width: 50%;
    margin: 10px;
    overflow: hidden;

}
.case3 img{
    transition: transform .5s ease;
}
.case3:hover img{
    transform: scale(1.5);
}
.case4{
    height: 400px;
    width: 50%;
    margin: 10px;
    overflow: hidden;
}
.case4 img{
    transition: transform .5s ease;
}
.case4:hover img{
    transform: scale(1.5);
}

.imgscasestudies{
    width: 100%;
  height: 400px;
  object-fit: cover;
}

.casestudies2{
    height: 100%;
    width: 100%;
    display: flex;
   margin-top: 0px;
    
}